body{
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}
img{
    width: 100%;
    vertical-align: middle;
}
.logo-holder{
    float:left;
    margin-right: 15px;
    padding-top: 10px;
}
.logo-holder img{
    width:90px;
}
#menu-toggle{
    display:none;
}
#main-nav ul{
    margin:0;
    padding:0;
    list-style: none;
}
@media only screen and (min-width:768px){
    #main-nav .menu{
        display:flex;
        float:right;
    }
}
#main-nav .menu a{
    text-decoration: none;
    color:#666;
    padding:20px;
    display: inline-block;
    font-size: 14px;
}
#main-nav .menu a:hover{
    color:#000;
}
#main-nav .menu>li>a{
    text-transform: uppercase;
}
@media only screen and (min-width:768px){
    #main-nav .sub-menu{
        position: absolute;
        background-color: #fff;
        min-width: 200px;
        padding: 15px 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
}

#main-nav .menu>li:hover .sub-menu{
    opacity: 1;
    visibility:visible;  
}
#main-nav .sub-menu li{
    border:1px solid #ddd;
}
#main-nav .sub-menu li:last-child{
    border:none;
}
#main-nav .sub-menu a{
    padding: 10px 20px;
}
#main-nav .menu-item-has-children::after{
    content:"\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left:-15px;
}
@media only screen and (max-width:47.98em){
    #menu-toggle{
        display:inline-block;
        float: right;
        font-size: 28px;
        margin-top:10px;
        margin-bottom: 30px;
    }
    #main-nav .menu{
        clear:both;
        padding-bottom: 30px;
        display: none;
    }
    #main-nav .menu li{
    border-bottom:1px solid #ddd;
    position: relative;
    }
    #main-nav .menu li:last-child{
        border-bottom: none;
    }
    #main-nav .menu a{
        padding:10px 15px;
    }
    #main-nav .menu-item-has-children::after{
        float:right;
        position: absolute;
        top:10px;
        right: 0;
    }
    #main-nav .sub-menu{
        padding-left:15px;
        display: none;
    }

}
.top-section{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 150px 105px;
    clear: both;
}
.top-section h1{
    font-size: 50px;
    margin-bottom: 0;
}
@media only screen and (max-width:47.98em){
    .top-section{
        padding: 50px 30px;
    }  
    .top-section h1{
        font-size: 35px;
    }  
}
.top-section p{
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
}
.top-section .link{
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    display:inline-block;
    color:#ccc;
    font-size: 14px;
    margin-top: 20px;
}
.container{
    max-width: 1170px;
    margin:0 auto;
    padding:0 30px;
}
.top-section .link:hover{
    color:#fff;
    border:1px solid  #fff;
}
/*about*/
#about{
    padding-top: 70px;
    padding-bottom:70px;
}
.section-header{
    margin-bottom:50px;
}
.section-header h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}
.columns{
    display:flex;
    flex-wrap: wrap;
    margin-left:-15px;
    margin-right: -15px;
}
.columns .column{
    padding:0 15px;
}
.columns-2 .column{
    width:50%;

}
.columns-4 .column{
    width:25%;

}
@media only screen and (max-width:47.98em){
    .columns-2 .column{
        width:100%;
    }
    .columns-4 .column{
        width:50%;
    }
}
#services{
    background-color: #f2f2f2;
    padding-top: 70px;
    padding-bottom:70px;
}
.service{
    text-align: center;
}
.service i{
    font-size: 40px;
}
.service p{
    color:rgb(102, 95, 95);
}

#portfolio{
    padding-top:70px;
    padding-bottom:70px;
}
#portfolio .columns{
   margin-left: -5px; 
   margin-right:-5px;
}
#portfolio .column{
    padding:5px;
}
#portfolio .portfolio-item{
    position:relative;
    overflow: hidden;
}
#portfolio .overlay{
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s;
}
#portfolio .portfolio-item:hover .overlay{
    opacity: 1;
}
#portfolio .portfolio-item img{
    transition: transform 0.6s;
}
#portfolio .portfolio-item:hover img{
    transform: scale(1.5);
}
#portfolio .overlay a{
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    font-size: 30px;
    margin-top: -17px;
}
#blog .blog-item img{
    width:100%;
    height: 160px;
}
#blog .blog-item a{
    text-decoration: none;
    font-size: 14px;
    color: #000;
}
#blog .blog-item{
    position:relative;
    overflow: hidden;
    transition: transform 0.2s ease-out;
}
#blog .blog-item:hover{
    transform: translateY(-20px);
}
#blog .link-button{
    display: inline-block;
    background-color: black;
    padding:10px 20px;
    text-align: center;
    margin:30px auto 0 auto;
    display: table;
    transition: padding 0.6s;
}
#blog .link-button a{
    color:#fff;
    text-decoration: none;
}
#blog .link-button:hover{
    padding: 10px 35px;
}

#contact{
    padding-top:70px;
    padding-bottom:70px; 
}
@media only screen and (min-width:47.98em){
    #contact form{
        width:60%;
        margin:0 auto;
    }
}

input[type="text"], input[type="email"],textarea{
    width:100%;
    border:none;
    outline:none;
    border-bottom: 1px solid #ccc;
    padding:10px 5px;
}
#contact textarea{
    margin-top:15px;
}
#contact input[type="submit"]{
    background-color: #000;
    color:#fff;
    padding:10px 20px;
    border: none;
    outline:none;
    margin:30px auto 0 auto;
    display: table;
    transition: padding 0.6s;
}
#contact input[type="submit"]:hover{
    padding: 10px 35px;
}
footer{
    background-color: #000;
    color:#bbb;
    padding: 60px 0;
    text-align: center;
}
footer .social-link a{
    color:#fff;
    padding:0 10px;
    display:inline-block;
    transition: transform 2s infinite;
}
@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }  
footer .social-link a:hover{
    animation: roll 1s infinite;
}
footer p{
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
}
